body, html {
    height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #444;
}
.introleft{
background: url(img/Screenshot\ 2022-01-15\ 130433.png);
position: fixed;
left: 0;
width: 33.333%;
height: 100%;
}

@media(max-width: 768px) {
    .introleft {
    height: 30vh;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    }
}

.avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}